/* #region common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common rules */

/* #region palette color */

:root {
    /* COLOR HEADER */
    --ds-bgheader: #00008b;
    --ds-bgnav: #add8e6;
    --ds-colornav: #daa520;
    --ds-bgcardheader: #ee82ee;
    /* COLOR MAIN */
    --ds-bgcards: #000000;
    --ds-bgmaincard: #1e90ff;
    --ds-bgsecondarycard: #ffc0cb;
    --ds-bgroweven: #d3d3d3;
    --ds-bgbigcard: #228b22;

}

/* #endregion palette color */

/* #region debug */

/* HEADER */
.debug > #app-header{
    background-color: var(--ds-bgheader);
}

.debug .bar-nav {
    background-color: var(--ds-bgnav);
}

.debug nav {
    background-color: var(--ds-colornav);
}

.debug .card-header{
    background-color: var(--ds-bgcardheader);
}

/* MAIN */
.debug .cards {
        background-color: var(--ds-bgcards);
}

.debug .main-card {
    background-color: var(--ds-bgmaincard);
}

.debug .secondary-card {
    background-color: var(--ds-bgsecondarycard);
}

.debug .big-card {
    background-color: var(--ds-bgbigcard);
}
/* #endregion debug */

/* #region utilities */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
} 


.row-1 {
    height: 50vh;
}

.row-2 {
    height: 100vh;
}

.col-8 {
    width: 66.7vw;
}

a {
text-decoration: none;
}

/* CARDS */
.main-card {
 width: 60%;
}

.secondary-card {
    width: 40%;
}

.main-card,
.secondary-card {
    height: 100%;
    border: 1px dotted black;
}

.biggest-card {
    height: 90vh;
}

/* MAIN */
section:nth-child(even) {
    background-color: var(--ds-bgroweven);
}

/* #endregion utilities */

/* #region header */

/* NAV */
.bar-nav{
    height: 8vh;
}

nav {
    height: 6vh;
    justify-content: space-between !important;
}

.logo,
.login {
    height: 100%;
    width: 15%;
    border: 1px dotted black;
}

.menu {
    height: 100%;
    width: 70%;
    border: 1px dotted black;
}

.menu-item {
    padding: 0 2rem;
}

.logo {
    justify-content: flex-start;
}

.login {
    justify-content: flex-end;
}

/* CARD HEADER */
#container-card-header {
    height: 40vh;
}

.card-header{
    height: 36vh;
    width: 50vw;

}
/* #endregion header */

/* #region main */

.cards {
    height: 44vh;
}

/* #endregion main */